<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--  Database connection settings  -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://10.187.160.84:5432/db6</property>
        <property name="connection.username">keycloak</property>
        <property name="connection.password">password</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- set up c3p0 for use -->
        <property name="c3p0.max_size">10</property>
        <!--  Echo all executed SQL to stdout  -->
        <property name="show_sql">true</property>
        <!--  Drop and re-create the database schema on startup  -->
        <property name="hbm2ddl.auto">update</property>
        <mapping class="hibernate.Person"/>
        <mapping class="hibernate.Ranking"/>
        <mapping class="hibernate.Message"/>
        <mapping class="hibernate.Email"/>
        <mapping class="hibernate.SimpleObject" />
        <mapping class="hibernate.Skill"/>
        <mapping class="hibernate.orphan.Library"/>
        <mapping class="hibernate.orphan.Book"/>
    </session-factory>
</hibernate-configuration>